
body, html {
  background-color: #EBECF0;
}

body, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}




body{
  padding: 16px*2 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 16px*20;
  padding: 16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}




button,.in {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
  
  
  
